.card-main {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 650px) {
  .card-main {
    width: 98%;
  }
}

@media (max-width: 790px) {
  .card-main {
    margin: auto;
    margin-top: 20px;
  }
  .card-division {
    width: 100%;
    margin: auto;
  }
}
