.card {
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 100%;
  position: relative;
}

.card > img {
  width: 100%;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px 0 10px;
}

.card-title p {
  width: 80%;
  font-weight: 600;
  font-size: 22px;
}

.card-content {
  text-align: center;
  width: 100%;
  color: #5c5c5c;
}

.card-extras {
  width: 90%;
  margin: auto;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px 0 10px;
}

.view-text-mobile {
  display: none;
}

.article-text {
  display: flex;
  align-items: center;
  margin-bottom: -5px;
}

.article-emoji {
  padding-bottom: 5px;
  margin-right: 5px;
  margin-left: 10px;
}

.footer-info-sub1 {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.image-avatar {
  margin-right: 10px;
}

.footer-info-sub2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.view-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #525252;
}

.view-text {
  margin-left: 10px;
  margin-right: 10px;
}

.share {
  background-color: #edeef0;
  color: #2d2d2d;
  padding: 13px 20px 8px 20px;
  border-radius: 5px;
}

.share-text-mobile {
  display: none;
}

.article-text-inner {
  font-weight: 600;
}

@media (max-width: 550px) {
  .view-text-mobile {
    display: flex;
    font-weight: 400 !important;
  }
  .view-icon {
    visibility: hidden;
  }
  .share {
    display: flex;
    align-items: center;
  }
  .share-text-mobile {
    display: flex;
    margin-left: 5px;
  }
  .card-footer {
    width: 80%;
  }
}
