* {
  font-family: IBM;
}

.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  margin-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.body-sub1 {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.body-sub1-mobile {
  display: none;
}

.body-sub1 a {
  text-decoration: none;
  margin-right: 20px;
  color: #8a8a8a;
  font-weight: 400;
}

.active {
  color: #000000 !important;
  font-weight: 400;
}

.body-sub2 {
  display: flex;
  align-items: center;
}
.body-sub2-mobile {
  display: none;
}
button {
  border: 0;
  padding: 5px 15px 5px 15px;
}
.button-post {
  margin-right: 5px;
  background-color: #edeef0;
  border-radius: 4px;
  color: black;
}

.button-join {
  color: white;
  background-color: #2f6ce5;
  border-radius: 4px;
}

.button-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 650px) {
  .body {
    width: 95%;
    border: 0;
    margin-left: 20px;
    margin-right: 40px;
  }
}

@media (max-width: 790px) {
  .body-sub1-mobile {
    display: flex;
  }
  .body-sub1-mobile a {
    text-decoration: none;
    margin-right: 20px;
    color: #8a8a8a;
    font-weight: 700;
  }
  .body-sub1 {
    display: none;
  }
  .body-sub2 {
    display: none;
  }
  .body-sub2-mobile {
    display: flex;
  }
}
