.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  width: 45%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  /* width: 250px;
  height: 170px; */
  background: white;
  color: white;
  z-index: 10 !important;
  border-radius: 10px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  background-color: #effff4;
  margin: 0;
  padding: 10px 45px 10px 45px;
  color: #008a45;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.modalContent {
  padding: 0 36px 36px 36px;
  margin-top: -30px;
  font-size: 14px;
  color: #2c3e50;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signup-heading-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signup-header {
  font-size: 24px;
  font-weight: 700;
}

.signup-to-signin {
  color: #2f6ce5;
  cursor: pointer;
}

.main-form-container {
  width: 50%;
}

.signup-input-collapse {
  display: flex;
  width: 104.3%;
}

.signup-input {
  border: 1px solid #d9d9db;
  width: 100%;
  padding: 7px;
  font-size: 15px;
  color: #8a8a8a;
  font-weight: 500;
}

.create-account-button {
  margin: 20px 0;
  width: 104.2%;
  padding: 10px 0;
  background-color: #2f6ce5;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
}

.signup-social {
  display: block;
  width: 104.2%;
  border: 1px solid #d9d9db;
  border-radius: 2px;
  padding: 7px 0;
  background-color: #fff;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebook-icon {
  color: #2f6ce5;
  font-size: 14px;
  margin-right: 5px;
}

.google-icon {
  color: rgb(241, 101, 36);
  font-size: 14px;
  margin-right: 5px;
}

.signup-image {
  margin-left: 75px;
}

.signup-image > p {
  font-size: 10px;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -21px;
  margin-right: -29px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}
